.transport-page {
  text-align: center;
  padding: 60px 20px;
  background-color: #eaf0f7;
  position: sticky;
  
}

.transport-page header h1 {
  font-size: 36px;
  color: #022B36;
  margin-bottom: 10px;
}

.transport-page header p {
  font-size: 18px;
  margin-bottom: 40px;
  color: #555;
}

.transport-options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.transport-card {
  width: 250px;
  padding: 30px 20px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.transport-card h3 {
  margin-top: 15px;
  margin-bottom: 10px;
  color: #022B36;
}

.transport-card p {
  color: #555;
  font-size: 14px;
}

.transport-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0,0,0,0.15);
}

@media (max-width: 768px) {
  .transport-options {
    flex-direction: column;
    align-items: center;
  }
}
