.hero-section {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/ship.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  display: flex;
  align-items: center;
  padding-left: 80px;
  transition: background-position 0.1s linear;
}

.hero-text {
  max-width: 500px;
  color: white;
}

.btn-dark,
.btn-outline-dark {
  margin-right: 10px;
  padding: 10px 20px;
}
